<div
  class="container text-center mt-5 p-3 bg-light border game-board"
>
  <div class="row justify-content-center">
    <div
      class="border-end border-bottom border-dark border-2 cell"
      data-position="1"
      {{on "click" this.playCell}}
      {{on "mouseenter" this.mouseEnterCell}}
      {{on "mouseleave" this.mouseLeaveCell}}
    ></div>
    <div
      class="border-end border-bottom border-dark border-2 cell"
      data-position="2"
      {{on "click" this.playCell}}
      {{on "mouseenter" this.mouseEnterCell}}
      {{on "mouseleave" this.mouseLeaveCell}}
    ></div>
    <div
      class="border-bottom border-dark border-2 cell"
      data-position="3"
      {{on "click" this.playCell}}
      {{on "mouseenter" this.mouseEnterCell}}
      {{on "mouseleave" this.mouseLeaveCell}}
    ></div>
  </div>
  <div class="row justify-content-center">
    <div
      class="border-end border-bottom border-dark border-2 cell"
      data-position="4"
      {{on "click" this.playCell}}
      {{on "mouseenter" this.mouseEnterCell}}
      {{on "mouseleave" this.mouseLeaveCell}}
    ></div>
    <div
      class="border-end border-bottom border-dark border-2 cell"
      data-position="5"
      {{on "click" this.playCell}}
      {{on "mouseenter" this.mouseEnterCell}}
      {{on "mouseleave" this.mouseLeaveCell}}
    ></div>
    <div
      class="border-bottom border-dark border-2 cell"
      data-position="6"
      {{on "click" this.playCell}}
      {{on "mouseenter" this.mouseEnterCell}}
      {{on "mouseleave" this.mouseLeaveCell}}
    ></div>
  </div>
  <div class="row justify-content-center">
    <div
      class="border-end border-dark border-2 cell"
      data-position="7"
      {{on "click" this.playCell}}
      {{on "mouseenter" this.mouseEnterCell}}
      {{on "mouseleave" this.mouseLeaveCell}}
    ></div>
    <div
      class="border-end border-dark border-2 cell"
      data-position="8"
      {{on "click" this.playCell}}
      {{on "mouseenter" this.mouseEnterCell}}
      {{on "mouseleave" this.mouseLeaveCell}}
    ></div>
    <div
      class="border-dark border-2 cell"
      data-position="9"
      {{on "click" this.playCell}}
      {{on "mouseenter" this.mouseEnterCell}}
      {{on "mouseleave" this.mouseLeaveCell}}
    ></div>
  </div>
</div>
<div class="container text-center mt-5">
  {{#if this.isGameOver}}
    {{#if this.isDraw}}
      <h5>Draw!</h5>
    {{else}}
      {{#if this.isPlayer1Turn}}
        <h5>Player 2 (o) wins!</h5>
      {{else}}
        <h5>Player 1 (x) wins!</h5>
      {{/if}}
    {{/if}}
  {{else}}
    {{#if this.isPlayer1Turn}}
      <h5>Player 1 (x) turn</h5>
    {{else}}
      <h5>Player 2 (o) turn</h5>
    {{/if}}
  {{/if}}
  <button
    type="button"
    class="btn btn-outline-secondary rounded-0 btn-lg mt-2"
    {{on "click" this.restartGame}}
  >Restart</button>
</div>